.Wrapper {
    margin-left: 50%;
    transform: translateX(-50%);
}

.TitleAddMessage {
    display: flex;
    justify-content: space-between;
}

.TitleAddMessage h2 {
    margin: 22px;
}

.ButtonAddMessage {
    padding: 5px;
    margin: 20px 10px;
    background: #61dafb;
    border: 3px solid #61dafb;
    border-radius: 5px;
    font-weight: bold;
}

.AllMessages {
    display: flex;
    justify-content: space-between;
    border: 1px solid #61dafb;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.AllMessages span {
    padding: 40px;
}